<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="background-color:powderblue;">
<h1>Hello from SimpleWebApp! </h1>
<p>
<p th:text="'Local time: ' + ${time} + '!'"/>
<p th:text="'Uptime: ' + ${uptime} + '!'"/>
</p>
</body>
</html>